spring:
  jackson:
    time-zone: UTC
  application:
    name: ondefiyasiiko
  config:
    import: optional:file:.env[.properties]
  datasource:
    url:  jdbc:postgresql://${DB_URL}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

        format_sql: true
  app:
    security:
      jwt:
        access-token-expiration: 8640000 # 24 hours for local testing, recommend 15 minutes for production
        refresh-token-expiration: 604800000
      disposable-email: 10minutemail,20minutemail,33mail,5ymail,anonbox,guerrilamail,mailinator,yopmail
